ul.detail-main-list > li {
  background-color: #ededed;
}

ul.detail-main-list > li a div {
  background-color: #ededed;
}
ul.detail-main-list > li a button {
  background-color: white;
  border: none;
}

ul.detail-main-list > li.selected {
  background-color: #ffae00;
  font-weight: bold;
}

ul.detail-main-list > li.selected a div {
  background-color: #ffae00;
  font-weight: bold;
}

ul.detail-main-list > li.processing {
  background-color: #9EF1E4;
  font-weight: bold;
}

ul.detail-main-list > li.processing a div {
  background-color: #9EF1E4;
  font-weight: bold;
}

ul.detail-main-list > li button.processing {
  background-color: #9EF1E4;
  font-weight: bold;
}

ul.detail-main-list > li.success {
  background-color: green;
  font-weight: bold;
}

ul.detail-main-list > li.success a div {
  background-color: green;
  font-weight: bold;
  color: white;
}

ul.detail-main-list > li button.success {
  background-color: green;
  font-weight: bold;
  color: white;
}
